body {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-family:Merriweather;
   
}

h1{
    color:16003B;
    background-color:#B3E8E5;
   margin-top: 0px;
   font-family:Sacramento;
   font-size: 90px;
   line-height: 1;
}

.main{
    background-color:#B3E8E5;
    position: relative;
    padding-top: 80px;
  
}
.name{
   margin: 70px auto 0 auto;
}
.topcloud {
    display:;
    position:absolute ;
    right: 200px;
    top: 124px;
    
}
.botcloud{
position: absolute ;
left: 300px;

}

.game {
    text-decoration: underline;
}

.bottom-container{
    padding: 18px;
    margin-top: 40px;
    position: relative;
    text-align: center;
    background-color: #11999E;
    margin-bottom: 0px;
}
.link{
    height: 100px;
    width: ;
}
h2{
    margin-top: 15px;
    font-size: 2.5rem;
    color: #2E0249;
    font-weight: normal;
}
h3{
    color:#11999E;
}
.skillrow{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left ;
    line-height: 2;
}
.gameconsole{
    float: left;
    padding-right: 30px;
}
.stock{
    float: right;
    padding-left: 30px;
}
hr{
    height: 0px;
    border-style:dotted none none none;
    width: 10%;
   border-width: 7px;
   border-color: grey;
}
.middle-container{
    background-color: #FEFBE7;
}
#hel{
    width: 50%;
    margin: 0 auto 5px auto;
}